<div id="accessible-fallback">

</div>
<div class="navigation-salon ui-node">

  <div id="home-link-bar">
    <a id="salon_logo_link" class="large-link" href="http://salon.io/">
      <img src="static/img/logo_drop_h1_006.png">
      Salon.io
    </a>
      <a href="http://blog.salon.io/" class="large-link">Blog</a>
      <a href="http://salon.io/howitworks" class="large-link">How it works</a>
      <a href="http://salon.io/join" class="large-link">Plans &amp; Prices</a>
      <a href="http://salon.io/gallery" class="large-link">Site Gallery</a>
      <a href="http://salon.io/video" class="large-link">Video</a>
      <a href="http://salon.io/help/faq" class="large-link">Help</a>
  </div>

</div>

<div id="customizable">
<div id="navigation-toggle-wrapper"><div class="ember-view navigation-toggle" id="ember364"><a class="open-icon"><i class="sa fa fa-bars"></i></a><a class="close-icon"><i class="sa fa fa-close"></i></a></div></div>

<div class="navigation navigation-page ">

  <div class="navigation-logo"><a class="navigation-logo-image-link" href="http://salon.io/capitala"><img src="static/img/capital-a-001.png"></a></div>

  <ul class="navigation-items navigation-item-list mobile-hidden">
      <li data-slug="home" class="navigation-item"><a class="navigation-link current" href="http://salon.io/capitala/home"><span class="navigation-link-text">INVEST</span></a></li>
      <li data-slug="discover" class="navigation-item"><a class="navigation-link" href="http://salon.io/capitala/discover"><span class="navigation-link-text">DISCOVER</span></a></li>
      <li data-slug="trade" class="navigation-item"><a class="navigation-link" href="http://salon.io/capitala/trade"><span class="navigation-link-text">TRADE</span></a></li>
      <li data-slug="how-it-works" class="navigation-item"><a class="navigation-link" href="http://salon.io/capitala/how-it-works"><span class="navigation-link-text">HOW IT WORKS</span></a></li>
      <li data-slug="contact" class="navigation-item"><a class="navigation-link" href="http://salon.io/capitala/contact"><span class="navigation-link-text">CONTACT</span></a></li>
  </ul>

</div>

<div class="image-caption-show image-copyright-show image-source-show " id="content">


<div style="margin-left: 0px; margin-top: 0px;" data-size="w_small" class="square-view" id="assets">
<div data-display-style="h_small" data-theme="default" id="container-55fd786f342b82898c001cda" style="z-index: 16;" data-cid="c48" class="asset-container asset image-asset-container"><div style="width: 336px;" id="asset-55fd786f342b82898c001cda" data-id="55fd786f342b82898c001cda" class="asset-content image-asset-content tag-">
<a target="_self" href="http://salon.io/capitala/home/sturm-png" class="target-link"><span><img style="width: 336px; height: 210px; font-size: 336px;" src="http://i.telegraph.co.uk/multimedia/archive/01889/WeiweiVasesFinal_1889293a.jpg"></span></a>

{{#each pieces}}
  <div class="public-asset-info">
    <div class="image-caption target-link"><p>{{artist_name}}</p></div>
    <div class="image-copyright"><p>{{title}}</p></div>
    <div class="image-source">{{price}},00 €</div>
    <div class="image-url">{{thumbnail.url_safe}}</div></div></div></div>

    <div data-display-style="w_small" data-theme="default" id="container-55fd786b342b82a593000632" style="z-index: 15;" data-cid="c51" class="asset-container asset image-asset-container">
      <div style="width: 210px;" id="asset-55fd786b342b82a593000632" data-id="55fd786b342b82a593000632" class="asset-content image-asset-content tag-">
        <a target="_self" href="http://salon.io/capitala/home/self_portrait-png" class="target-link">
          <span><img style="width: 210px; height: 262px; font-size: 210px;" src="{{thumbnail.url_safe}}"></span>
        </a>
{{/each}}

<div style="top: -166px; left: -126px;" id="canvas_origin_marker"><img src="static/img/canvas_origin_marker_002.png"></div></div></div>
</div><div class="ui-node" id="inspector_status"><div class="logged-out-navigation">
  <div class="language-switch">
    <a href="http://salon.io/capitala/home?locale=en" class="external-link active">English</a>
    <a href="http://salon.io/capitala/home?locale=ja" class="external-link ">日本語</a>
  </div>
  <!-- <a href="/users/sign_up" class="external-link">Sign up for free</a> -->
  <!-- <span>-or-</span> -->
  <a href="http://salon.io/login" class="external-link">Login</a>
  <!-- <a href="/users/sign_up" class="external-link enterprise-only" >Sign up</a> -->
</div>

<div id="inspector_indicator">
  <div id="hidden_hit_area"></div>
  <div id="indicator_idle"></div>
  <div id="indicator_editing">Editing</div>
  <div id="indicator_saved">saved</div>
  <div id="indicator_upload">
    <span class="progress"></span>
    <div>
      Uploading <span id="upload_current_index">2</span> of <span id="upload_total">122</span>
      <!--span id="cancel_upload" class="">Cancel</span-->
    </div>
  </div>
</div>
</div>
<div class="slideshow slideshow-fit" id="slideshow">

<div class="navigation navigation-detail">
  
  <div class="navigation-logo">
    <a class="navigation-logo-link" href="http://salon.io/capitala">
      <span class="navigation-link-text"></span>
    </a>
  </div>
  
  <ul class="navigation-items navigation-item-list">
    <li data-slug="" class="navigation-item"><a class="navigation-link current" href=""><span class="navigation-link-text"></span></a></li>
  </ul>
  
  <div class="image-counter">
    <span class="prev">prev</span>
    <span class="counter"></span>
    <span class="next">next</span>
  </div>
  
</div>

<div class="content"><div class="image_show_container">
  <img class="main">
  <div class="loading-indicator"></div>
  <img class="next">
  <div class="loading-indicator"></div>
</div>
<div class="image_detail_nav_btn prev_image_btn">
  <div></div>
</div>
<div class="image_detail_nav_btn next_image_btn">
  <div></div>
</div>
<div class="close-btn"></div>
<ul class="details" id="image_information"></ul>
<!-- .slideshow-nav -->
<!--   .slideshow-actions -->
<!--     .slideshow-fullscreen -->
<!--       FullScreen -->
<!--     / .slideshow-prev -->
<!--     /   Previous -->
<!--     / .slideshow-next -->
<!--     /   Next -->
<!--     .slideshow-status -->
<!--    -->
<!-- .slideshow-thumbnails --></div>
</div>
<div id="drag-uploader-cover"></div>
<!-- drop-instruction= "Drop your files <br> to start uploading" -->

<script>
  //<![CDATA[
    window.app = new Salon.App();
  //]]>
</script>
<div data-sha="63/zuAf3iKeHRRHMcimbl3+0kqs" id="custom_html"><div id="sorting">
  Sort by
  <ul>
    <li><a href="#">Freshness</a></li>
    <li><a href="#">Popularity</a></li>
    <li><a href="#">Shares sold</a></li>
    <li><a href="#">Price</a></li>
     <li><a href="#">Rating</a></li>
    <li><a href="#">Random</a></li>
  </ul>
</div></div>
<div data-sha="2jmj7l5rSw0yVb/vlWAYkK/YBwk" id="footer"></div>






<div class="ember-view application-view" id="ember349">

<!---->
<!---->
</div>